include includes/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")

		title Title

	body
		.wrapper

			header.header.container
				a(href="#").header__logo
					img(src="img/logo.svg", alt="" width="115" height="32")
				.header__bar
					ul.header__menu
						li
							a(href="#") Компании
						li
							a(href="#") Партнерам
						li
							a(href="#") Пресс-центр
						li
							a(href="#") Контакты
					.header__lang
						a.header__lang-btn Ru
							span.header__lang-btn-icon
								img(src="img/icon-expand.svg", alt="")
						ul.header__lang-list
							li
								a(href="#") Ru
							li
								a(href="#") Ru
							li
								a(href="#") Ru
					
					a.btn-mobile-menu.open.is-lg-hidden
						span
						span
						span

				a.btn-mobile-menu.is-lg-hidden
					span
					span
					span
				
		
			main.content

				ul.page-nav
					li
						a(href="#about") О Елене Скрынник
					li
						a(href="#goal") Деятельность
					li
						a(href="#charity") Благотворительность
					li
						a(href="#future") Планы на будущее
					li
						a(href="#publications") Публикации

				.about-start.section#about
					.container
						.about-start__top
							.about-start__top-heading Российский государственный деятель
							h1.about-start__heading Елена Борисовна
								br
								| Скрынник
						.about-info
							.about-info__item Министр сельского хозяйства Российской Федерации  в период 2009&nbsp;—&nbsp;2012 гг.
							.about-info__item Единственная женщина на посту министра сельского хозяйства России
							.about-info__item Доктор экономических наук и доктор медицинских наук
				.achievements.container
					.section-label Заслуги
					.content-inner
						.achievements__heading Елена Борисовна отмечена  высшими государственными и правительственными наградами Российской Федерации:
						.swiper.slider-rewards
							.swiper-wrapper.rewards
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-1.png", alt="")
										.rewards__item-img
											img(src="img/rewards-1.png", alt="")
										.rewards__item-text Орден «За Любовь и Отечество» – За высокую духовно-нравственную позицию и милосердия. За значительный вклад в благотворительную, миротворческую и гуманитарную деятельность.
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-2_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-2.png", alt="")
										.rewards__item-text Правительственная награда – Медаль Ордена «За заслуги перед Отечеством» II степени – за достигнутые трудовые успехи и многолетнюю добросовестную работу (2005 год)
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-3_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-3.png", alt="")
										.rewards__item-text Орден Дружбы – за активное участие в работе по формированию нормативно-правовой базы Единого экономического пространства (2011 год)
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-4_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-4.png", alt="")
										.rewards__item-text Благодарность Президента Российской Федерации (2007 год).
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-5_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-5.png", alt="")
										.rewards__item-text Почётная грамота Правительства Российской Федерации – за большой вклад в развитие отечественного агропромышленного комплекса и многолетний добросовестный труд (2009 год).
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-5_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-5.png", alt="")
										.rewards__item-text Почётная грамота Правительства Российской Федерации – за большой вклад в развитие отечественного агропромышленного комплекса и многолетний добросовестный труд (2009 год).
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-5_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-5.png", alt="")
										.rewards__item-text Почётная грамота Правительства Российской Федерации – за большой вклад в развитие отечественного агропромышленного комплекса и многолетний добросовестный труд (2009 год).
								.rewards__item.swiper-slide
									.rewards__item-inner
										.rewards__item-preview
											img(src="img/rewards-5_large.png", alt="")
										.rewards__item-img
											img(src="img/rewards-5.png", alt="")
										.rewards__item-text Почётная грамота Правительства Российской Федерации – за большой вклад в развитие отечественного агропромышленного комплекса и многолетний добросовестный труд (2009 год).
						.rewards-bottom-bar
							a(href="#").link-underline Ведомственные и региональные награды
							.rewards-nav
								a.rewards-nav__btn.rewards-nav__btn--prev
									img(src="img/icon-arrow-left.svg", alt="")
								a.rewards-nav__btn.rewards-nav__btn--next
									img(src="img/icon-arrow-right.svg", alt="")

				.goal.section#goal
					.container.goal__container
						.section-label Главная цель
						.content-inner
							h2.heading-base.goal__heading Содействие переходу на инновационную экономику за счет ускоренной технологизации корпораций
							.goal__text
								.goal__text-col
									p Задача сформировать соответствующую глобальную экосистему стартапов, развивать рынок венчурного капитала, обеспечить гибкие связи между крупным и малым инновационным бизнесом, частными российскими и иностранными инвесторами.
								.goal__text-col
									p В приоритете — участие в создании и совершенствовании комплексной регуляторной базы, инфраструктуры, цифровой среды доверия, потенциала роста экспорта цифровых продуктов и услуг.
							.goal__text
								.goal__text-col.goal__text-col--img
									.goal__img
										img(src="img/photo_2023-11-01.jpg", alt="")
								.goal__text-col
									.goal__border-wrap
										.heading-normal Выступления в качестве эксперта
										p Е. Скрынник выступила с докладом о цифровой трансформации экономики РФ на Web Summit в Лиссабоне.
										p Системный переход на современные цифровые технологии, организация международного сотрудничества на базе новой технологической инфраструктуры – магистральные направления для раскрытия конкурентных преимуществ и ускоренного развития государства, подтверждает российский государственный деятель – министр сельского хозяйства России (c 2009 по 2012 год) Елена Скрынник.
										p В ходе саммита Е.Скрынник провела ряд двусторонних встреч с представителями крупнейших IT-компаний, познакомилась с разработчиками стартапов в области искусственного интеллекта, блокчейн, BigData, VR и AR из Японии, Греции, Южной Кореи, Индии и др.
							div Так же в фокусе повышенного внимания – искусственный интеллект, который в перспективе будет напрямую влиять на конкурентоспособность клиентоориентированного бизнеса.
				.demonstration
					.container.demonstration__container
						.section-label От слов к делу
						.content-inner
							.demonstration__heading Cоздавать, совершенствовать и сохранять
							.demonstration__text
								.demonstration__text-heading Применение возможностей на практике 
								.demonstration__text-row
									.demonstration__text-col
										p Помимо успехов в медицинской реабилитационной деятельности с использованием инновационных роботизированных систем Елена Борисовна оказывает поддержку компаниям, являющихся носителями разработок и компетенций цифровой экономики по ключевым направлениям.
									.demonstration__text-col
										p В том числе в области Big Data, искусственного интеллекта, нейротехнологий, технологий виртуальной и дополненной реальности.
											br
											| А также  участвует в создании опорной инфраструктуры цифровой экономики, включая создание безопасных линий связи, центров обработки данных.
							.demonstration__text-bottom В других направлениях деятельности Елена Борисовна интересуется инновационной косметологией, регенеративной медициной – важными составляющими обеспечения гармоничного физического и ментального здоровья, высокого качества жизни. В первую очередь с точки зрения интеграции уникальных методик, передового опыта Японии, Италии, Швейцарии, Испании и цифровых разработок.
					.demonstration__bg
						video(loop muted autoplay poster="img/preview-bg.jpg").section-video
							source(src="video/bg.mp4" type="video/mp4")
				.charity.section#charity
					.container.charity__container
						.section-label Благотворительность
						.content-inner
							.heading-base.charity__heading Вопрос помощи  людям является приоритным в деятельности Елены Борисовны
							.charity__row
								.charity__row-col
									.charity__row-item Благодаря Скрынник в России появилась уникальная технология, которая в прямом смысле слова ста­вит людей на ноги. Ее усилиями в стране создаются лаборатории по производству современных проте­зов.
								.charity__row-col
									.charity__row-item Елена Скрынник создает условия массовой подготовки специалистов для цифровой экономики, в частности реабилитологов активно работающих на созданной роботизированной системе Walkbot.
								.charity__row-col
									.charity__row-item Также Елена Борисовна оказывает поддержку команды по парафутболу в Казани, дающую возможность чувствовать себя сильными. Команда основана на базе ГКБ № 7 г. Казани.
							.charity__img
								video(loop muted poster="img/main-slide-bg.jpg")#video
									source(src="video/walkbot.mp4" type="video/mp4")
							.charity__link
								a(href="#").link-underline Узнать подробнее о WALKBOT 
				.future.section.container#future
					.section-label взгляд в будущее
					.content-inner
						.future__heading Продолжать свое дело - вносить максимальный вклад в развитие нашей страны, общества, помогать людям
						.swiper.slider-future
							.swiper-wrapper.future__row
								.future__row-col.swiper-slide
									.future__row-item-img
										img(src="img/8650be14d97772cc4955.jpg", alt="")
									.future__row-item-text
										p Активно содействовать дальнейшему развитию системы медицинской реабилитации, протезирования. В планах выйти на совместное производство совершенных моделей колясок для инвалидов, с возможностью вертикализации пациентов. 
								.future__row-col.swiper-slide
									.future__row-item-img
										img(src="img/foto3-1.jpg", alt="")
									.future__row-item-text
										p Вести благотворительную деятельность парафутбол Казань.  Планируется приобретение футбольных колясок с электроприводом для дальнейших регулярных тренировок и соревнований.
								.future__row-col.swiper-slide
									.future__row-item-img
										img(src="img/8650be14d97772cc4955.jpg", alt="")
									.future__row-item-text
										p Активно содействовать дальнейшему развитию системы медицинской реабилитации, протезирования. В планах выйти на совместное производство совершенных моделей колясок для инвалидов, с возможностью вертикализации пациентов. 
								.future__row-col.swiper-slide
									.future__row-item-img
										img(src="img/foto3-1.jpg", alt="")
									.future__row-item-text
										p Вести благотворительную деятельность парафутбол Казань.  Планируется приобретение футбольных колясок с электроприводом для дальнейших регулярных тренировок и соревнований.
						.future__nav
							a.future__nav-btn.future__nav-btn--prev
								img(src="img/icon-arrow-left.svg", alt="")
							a.future__nav-btn.future__nav-btn--next
								img(src="img/icon-arrow-right.svg", alt="")
				.publications.section#publications
					.container
						.section-label Публикации
						.content-inner
							.slider-publications.swiper
								.publications__row.swiper-wrapper
									.publications__row-col.swiper-slide
										.publications__item
											.publications__item-img
												img(src="img/Elena-Skrynnik-Karavan.jpg", alt="")
											.publications__item-info
												.publications__item-info-top
													.publications__item-info-heading Караван историй
													.publications__item-info-year 2024
												.publications__item-info-text
													p История успеха Елены Скрынник. Как говорится в «Искусстве войны», «Непобедимость — в себе, возможность победы — во враге».
									.publications__row-col.swiper-slide
										.publications__item
											.publications__item-img
												img(src="img/Elena-Skrynnik-Brics-Magazine.jpg", alt="")
											.publications__item-info
												.publications__item-info-top
													.publications__item-info-heading BRICS
													.publications__item-info-year 2020
												.publications__item-info-text
													p Елена Скрынник:  Наша главная стратегическая цель – высокий инновационный уровень российской экономики.
												.publications__item-info-link
													a(href="#").link-underline Читать статью
									.publications__row-col.swiper-slide
										.publications__item
											.publications__item-img
												img(src="img/Elena-Skrynnik-Brics-Magazine.jpg", alt="")
											.publications__item-info
												.publications__item-info-top
													.publications__item-info-heading BRICS
													.publications__item-info-year 2020
												.publications__item-info-text
													p Елена Скрынник:  Наша главная стратегическая цель – высокий инновационный уровень российской экономики.
												.publications__item-info-link
													a(href="#").link-underline Читать статью
									.publications__row-col.swiper-slide
										.publications__item
											.publications__item-img
												img(src="img/Elena-Skrynnik-Brics-Magazine.jpg", alt="")
											.publications__item-info
												.publications__item-info-top
													.publications__item-info-heading BRICS
													.publications__item-info-year 2020
												.publications__item-info-text
													p Елена Скрынник:  Наша главная стратегическая цель – высокий инновационный уровень российской экономики.
												.publications__item-info-link
													a(href="#").link-underline Читать статью
							.publications__nav
								a.publications__nav-btn.publications__nav-btn--prev
									img(src="img/icon-arrow-left.svg", alt="")
								a.publications__nav-btn.publications__nav-btn--next
									img(src="img/icon-arrow-right.svg", alt="")
				
				.gallery.container
					.gallery__row
						.gallery__row-col
							a(href="img/Slide 4_3 - 34.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 34.jpg", alt="")
							a(href="img/Slide 4_3 - 27.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 27.jpg", alt="")
							a(href="img/Slide 4_3 - 32.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 32.jpg", alt="")
						.gallery__row-col
							a(href="img/Slide 4_3 - 37.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 37.jpg", alt="")
							a(href="img/Slide 4_3 - 36.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 36.jpg", alt="")
							a(href="img/Slide 4_3 - 38.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 38.jpg", alt="")
						.gallery__row-col
							a(href="img/Slide 4_3 - 29.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 29.jpg", alt="")
							a(href="img/Slide 4_3 - 35.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 35.jpg", alt="")
							a(href="img/Slide 4_3 - 31.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 31.jpg", alt="")
						.gallery__row-col
							a(href="img/Slide 4_3 - 30.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 30.jpg", alt="")
							a(href="img/Slide 4_3 - 33.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 33.jpg", alt="")
							a(href="img/Slide 4_3 - 28.jpg" data-fancybox="gallery").gallery__row-col-item
								img(src="img/Slide 4_3 - 28.jpg", alt="")
				footer.footer
					.container.footer__container
						.footer__copyright © 2024 ES group
						.footer__adress Москва, Пресненская набережная 12, Башня «Федерация» Запад
						.footer__other
							a(href="#").link-underline Политика конфиденциальности


		script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
		script(src="js/common.js")
		script.
			document.addEventListener('DOMContentLoaded', () => {
				const rewardItems = document.querySelectorAll('.rewards__item');
				const rewardsSection = document.querySelector('.rewards');
				rewardItems.forEach(item => {
					item.addEventListener('mouseenter', () => {
						rewardsSection.classList.add('is-hover');
						item.classList.add('active');
					});

					item.addEventListener('mouseleave', () => {
						rewardsSection.classList.remove('is-hover');
						item.classList.remove('active');
					});
				});
			});

			// floating nav
			document.addEventListener('DOMContentLoaded', () => {
				const navLinks = document.querySelectorAll('.page-nav a');
				const sections = Array.from(document.querySelectorAll('.section')).filter(section => section.id);
				const pageNav = document.querySelector('.page-nav');
				const lastSection = sections[sections.length - 1];

				const updateActiveNav = () => {
						let currentSection = '';

						sections.forEach(section => {
								const rect = section.getBoundingClientRect();
								if (rect.top <= window.innerHeight / 2 && rect.bottom >= window.innerHeight / 2) {
										currentSection = section.getAttribute('id');
								}
						});

						if (currentSection) {
								navLinks.forEach(link => {
										link.parentElement.classList.remove('active');
										if (link.getAttribute('href').substring(1) === currentSection) {
												link.parentElement.classList.add('active');
										}
								});
						}
				};

				const updateNavVisibility = () => {
						const lastSectionRect = lastSection.getBoundingClientRect();

						if (lastSectionRect.bottom < window.innerHeight) {
								pageNav.style.opacity = '0';
								pageNav.style.visibility = 'hidden';
						} else if (window.scrollY > 200) {
								pageNav.style.opacity = '1';
								pageNav.style.visibility = 'visible';
						} else {
								pageNav.style.opacity = '0';
								pageNav.style.visibility = 'hidden';
						}
				};

				updateActiveNav();
				updateNavVisibility();

				window.addEventListener('scroll', () => {
						updateActiveNav();
						updateNavVisibility();
				});
			});





			// swiper

			document.addEventListener('DOMContentLoaded', () => {
				var swiperRewards = new Swiper('.slider-rewards', {
						navigation: {
								nextEl: '.rewards-nav__btn--next',
								prevEl: '.rewards-nav__btn--prev',
						},
						breakpoints: {
								992: {
										slidesPerView: 'auto',
										spaceBetween: 0,
								},
								0: {
										slidesPerView: 1,
										spaceBetween: 20,
										autoHeight: true,
								}
						},
						on: {
								init: function () {
										this.update();
								}
						}
				});

				window.addEventListener('load', () => {
						swiperRewards.update();
				});

				window.addEventListener('resize', () => {
						swiperRewards.update();
				});
			});

			
			var swiperFuture = new Swiper('.slider-future', {
				slidesPerView: 2,
				spaceBetween: 20,
				navigation: {
					nextEl: '.future__nav-btn--next',
					prevEl: '.future__nav-btn--prev',
				},
				breakpoints: {
						992: {
							spaceBetween: 20
						},
						480: {
							slidesPerView: 2,
							spaceBetween: 10
						},
						0: {
							slidesPerView: 1,
							spaceBetween: 10
						}
				}
			});

			var swiperPublication = new Swiper('.slider-publications', {
				slidesPerView: 2,
				spaceBetween: 20,
				navigation: {
					nextEl: '.publications__nav-btn--next',
					prevEl: '.publications__nav-btn--prev',
				},
				breakpoints: {
						992: {
							spaceBetween: 20
						},
						480: {
							slidesPerView: 2,
							spaceBetween: 10
						},
						0: {
							slidesPerView: 1,
							spaceBetween: 10
						}
				}
			});

			// video

			document.addEventListener('DOMContentLoaded', () => {
				const video = document.getElementById('video');

				const playVideoOnScroll = () => {
						const rect = video.getBoundingClientRect();
						const windowHeight = window.innerHeight || document.documentElement.clientHeight;

						// Проверка, находится ли видео в видимой области экрана
						if (rect.top <= windowHeight && rect.bottom >= 0) {
								video.play();
						} else {
								video.load();
						}
				};

				// Вызов функции при загрузке страницы и при прокрутке
				window.addEventListener('scroll', playVideoOnScroll);
				window.addEventListener('resize', playVideoOnScroll);

				// Initial check
				playVideoOnScroll();
			});


