.header {
	position: absolute;
	z-index: 110;
	top: 15px;
	left: 30px;
	right: 30px;
	padding: 20px 30px;
	background: rgba(242, 241, 237, 0.5);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	gap: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo {
		line-height: 0;
	}
	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		&:not(:last-child) {
			padding-right: 15px;
		}
		&>li {
			&>a {
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #281806;
			}
		}
	}
	&__bar {
		display: flex;
		flex-grow: wrap;
		gap: 15px;
	}
	&__lang {
		position: relative;
		&-btn {
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			letter-spacing: 1px;
			cursor: pointer;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
			&-icon {
				line-height: 0;
				margin-left: 4px;
			}
		}
		&-list {
			position: absolute;
			left: 0;
			top: calc(100% + 5px);
			background: #E9E8E4;
			list-style: none;
			margin: 0;
			padding: 0;
			border-radius: 10px;
			overflow: hidden;

			opacity: 0;
			visibility: hidden;
			transition: .5s;
			&>li {
				padding: 3px 10px;
				cursor: pointer;
				text-transform: uppercase;
			}
		}

		&:hover {
			.header {
				&__lang {
					&-list {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}